[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = ">=4.0.1"
build = "==0.8.0"
 
[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
factory-boy = "*"

[requires]
python_version = "3.10"

[scripts]
unittest = "python -m unittest"
build = "python -m build"
